@using ToDo.BLL.Extensions
@model IEnumerable<TODO.Models.TaskViewModel>

@{
    ViewData["Title"] = "All Tasks";
}

<p>
    <a asp-action="Create">Add new task</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You don't have any task</p>
}
